In [1]:
#Import dependences
import pandas as pd
import numpy as np
import re
import json

In [2]:
#Read last year's monthly visitor data into a Pandas DataFrame

jan_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Jan Visitors By Park.csv')
jan_2022_df.dropna()
feb_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Feb Visitors By Park.csv')
feb_2022_df.dropna()
mar_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Mar Visitors By Park.csv')
mar_2022_df.dropna()
apr_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Apr Visitors By Park.csv')
apr_2022_df.dropna()
may_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/May Visitors By Park.csv')
may_2022_df.dropna()
jun_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Jun Visitors By Park.csv')
jun_2022_df.dropna()
jul_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Jul Visitors By Park.csv')
jul_2022_df.dropna()
aug_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Aug Visitors By Park.csv')
aug_2022_df.dropna()
sep_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Sep Visitors By Park.csv')
sep_2022_df.dropna()
oct_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Oct Visitors By Park.csv')
oct_2022_df.dropna()
nov_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Nov Visitors By Park.csv')
nov_2022_df.dropna()
dec_2022_df = pd.read_csv('../Resources/Monthly Visitors By Park/Dec Visitors By Park.csv')
dec_2022_df.dropna()

Empty DataFrame
Columns: [Park, Dec-22, Unnamed: 2, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20]
Index: []

[0 rows x 21 columns]

In [3]:
#Merge all the dataframes together

monthly_visitors_2022_df = jan_2022_df.merge(feb_2022_df, on = "Park")
monthly_visitors_2022_df = monthly_visitors_2022_df.merge(mar_2022_df, on = "Park")
monthly_visitors_2022_df = monthly_visitors_2022_df.merge(apr_2022_df, on = "Park")
monthly_visitors_2022_df = monthly_visitors_2022_df.merge(may_2022_df, on = "Park")
monthly_visitors_2022_df = monthly_visitors_2022_df.merge(jun_2022_df, on = "Park")
monthly_visitors_2022_df = monthly_visitors_2022_df.merge(jul_2022_df, on = "Park")
monthly_visitors_2022_df = monthly_visitors_2022_df.merge(aug_2022_df, on = "Park")
monthly_visitors_2022_df = monthly_visitors_2022_df.merge(sep_2022_df, on = "Park")
monthly_visitors_2022_df = monthly_visitors_2022_df.merge(oct_2022_df, on = "Park")
monthly_visitors_2022_df = monthly_visitors_2022_df.merge(nov_2022_df, on = "Park")
monthly_visitors_2022_df = monthly_visitors_2022_df.merge(dec_2022_df, on = "Park")
monthly_visitors_2022_df

,Park,Jan-22,Feb-22,Mar-22,Apr-22,May-22,Jun-22,Jul-22,Aug-22,Sep-22,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Abraham Lincoln Birthplace NHP,"5,833","10,174","16,447","25,848","30,360","36,056","36,369","32,346","31,130",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Acadia NP,"10,411","13,045","22,476","105,126","327,466","603,023","791,358","785,236","697,292",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adams NHP,84,125,204,262,"1,343","2,109","2,041","1,876","1,811",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,African Burial Ground NM,458,"1,163","1,667","2,625","2,213","3,253","3,073","2,530","3,134",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Agate Fossil Beds NM,113,117,400,764,"2,123","3,332","3,236","2,320","2,501",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Wupatki NM,"7,573","8,509","26,971","17,672","12,387","20,857","22,142","21,129","23,900",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,Yellowstone NP,"46,615","47,300","35,593","80,283","523,680","525,363","596,562","582,211","567,587",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,Yosemite NP,"137,057","170,196","192,634","285,601","380,905","470,045","396,833","518,407","424,374",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,Yukon-Charley Rivers NPRES,2,0,0,0,9,267,286,165,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,Zion NP,"139,827","168,499","446,308","491,625","539,172","569,975","548,636","437,134","423,654",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Get rid of the unnecessary columns
monthly_visitors_2022_df = monthly_visitors_2022_df[["Park",
                                                     "Jan-22",
                                                    "Feb-22",
                                                    "Mar-22",
                                                    "Apr-22",
                                                    "May-22",
                                                     "Jun-22",
                                                     "Jul-22",
                                                     "Aug-22",
                                                     "Sep-22",
                                                    "Oct-22",
                                                    "Nov-22",
                                                    "Dec-22"]]
monthly_visitors_2022_df

,Park,Jan-22,Feb-22,Mar-22,Apr-22,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22
0,Abraham Lincoln Birthplace NHP,"5,833","10,174","16,447","25,848","30,360","36,056","36,369","32,346","31,130","21,857","12,503","6,784"
1,Acadia NP,"10,411","13,045","22,476","105,126","327,466","603,023","791,358","785,236","697,292","521,646","70,675","22,506"
2,Adams NHP,84,125,204,262,"1,343","2,109","2,041","1,876","1,811","2,207",425,361
3,African Burial Ground NM,458,"1,163","1,667","2,625","2,213","3,253","3,073","2,530","3,134","3,173","3,871","2,583"
4,Agate Fossil Beds NM,113,117,400,764,"2,123","3,332","3,236","2,320","2,501","1,172",224,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Wupatki NM,"7,573","8,509","26,971","17,672","12,387","20,857","22,142","21,129","23,900","16,522","9,786","7,000"
366,Yellowstone NP,"46,615","47,300","35,593","80,283","523,680","525,363","596,562","582,211","567,587","236,567","17,687","30,794"
367,Yosemite NP,"137,057","170,196","192,634","285,601","380,905","470,045","396,833","518,407","424,374","381,612","178,786","131,100"
368,Yukon-Charley Rivers NPRES,2,0,0,0,9,267,286,165,15,0,0,0
369,Zion NP,"139,827","168,499","446,308","491,625","539,172","569,975","548,636","437,134","423,654","459,697","291,044","176,846"

In [5]:
#Convert all monthly visitor columns to numbers
monthly_visitors_2022_df["Jan-22"] = monthly_visitors_2022_df["Jan-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["Feb-22"] = monthly_visitors_2022_df["Feb-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["Mar-22"] = monthly_visitors_2022_df["Mar-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["Apr-22"] = monthly_visitors_2022_df["Apr-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["May-22"] = monthly_visitors_2022_df["May-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["Jun-22"] = monthly_visitors_2022_df["Jun-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["Jul-22"] = monthly_visitors_2022_df["Jul-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["Aug-22"] = monthly_visitors_2022_df["Aug-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["Sep-22"] = monthly_visitors_2022_df["Sep-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["Oct-22"] = monthly_visitors_2022_df["Oct-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["Nov-22"] = monthly_visitors_2022_df["Nov-22"].str.replace(',', '').apply(pd.to_numeric)
monthly_visitors_2022_df["Dec-22"] = monthly_visitors_2022_df["Dec-22"].str.replace(',', '').apply(pd.to_numeric)

monthly_visitors_2022_df

C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,Park,Jan-22,Feb-22,Mar-22,Apr-22,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22
0,Abraham Lincoln Birthplace NHP,5833,10174,16447,25848,30360,36056,36369,32346,31130,21857,12503,6784
1,Acadia NP,10411,13045,22476,105126,327466,603023,791358,785236,697292,521646,70675,22506
2,Adams NHP,84,125,204,262,1343,2109,2041,1876,1811,2207,425,361
3,African Burial Ground NM,458,1163,1667,2625,2213,3253,3073,2530,3134,3173,3871,2583
4,Agate Fossil Beds NM,113,117,400,764,2123,3332,3236,2320,2501,1172,224,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Wupatki NM,7573,8509,26971,17672,12387,20857,22142,21129,23900,16522,9786,7000
366,Yellowstone NP,46615,47300,35593,80283,523680,525363,596562,582211,567587,236567,17687,30794
367,Yosemite NP,137057,170196,192634,285601,380905,470045,396833,518407,424374,381612,178786,131100
368,Yukon-Charley Rivers NPRES,2,0,0,0,9,267,286,165,15,0,0,0
369,Zion NP,139827,168499,446308,491625,539172,569975,548636,437134,423654,459697,291044,176846

In [6]:
#Get totalVisitors2022 column
monthly_visitors_2022_df["totalVisitors2022"] = monthly_visitors_2022_df["Jan-22"] + monthly_visitors_2022_df["Feb-22"]  + monthly_visitors_2022_df["Mar-22"] + monthly_visitors_2022_df["Apr-22"] + monthly_visitors_2022_df["May-22"] + monthly_visitors_2022_df["Jun-22"] + monthly_visitors_2022_df["Jul-22"] + monthly_visitors_2022_df["Aug-22"] + monthly_visitors_2022_df["Sep-22"] + monthly_visitors_2022_df["Oct-22"] + monthly_visitors_2022_df["Nov-22"] + monthly_visitors_2022_df["Dec-22"]
monthly_visitors_2022_df

C:\Users\Jill Brammah\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Park,Jan-22,Feb-22,Mar-22,Apr-22,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,totalVisitors2022
0,Abraham Lincoln Birthplace NHP,5833,10174,16447,25848,30360,36056,36369,32346,31130,21857,12503,6784,265707
1,Acadia NP,10411,13045,22476,105126,327466,603023,791358,785236,697292,521646,70675,22506,3970260
2,Adams NHP,84,125,204,262,1343,2109,2041,1876,1811,2207,425,361,12848
3,African Burial Ground NM,458,1163,1667,2625,2213,3253,3073,2530,3134,3173,3871,2583,29743
4,Agate Fossil Beds NM,113,117,400,764,2123,3332,3236,2320,2501,1172,224,55,16357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Wupatki NM,7573,8509,26971,17672,12387,20857,22142,21129,23900,16522,9786,7000,194448
366,Yellowstone NP,46615,47300,35593,80283,523680,525363,596562,582211,567587,236567,17687,30794,3290242
367,Yosemite NP,137057,170196,192634,285601,380905,470045,396833,518407,424374,381612,178786,131100,3667550
368,Yukon-Charley Rivers NPRES,2,0,0,0,9,267,286,165,15,0,0,0,744
369,Zion NP,139827,168499,446308,491625,539172,569975,548636,437134,423654,459697,291044,176846,4692417

In [7]:
#Pull all park names

park_names = monthly_visitors_2022_df["Park"].unique()
park_names = park_names.tolist()
park_names

['Abraham Lincoln Birthplace NHP',
 'Acadia NP',
 'Adams NHP',
 'African Burial Ground NM',
 'Agate Fossil Beds NM',
 'Alibates Flint Quarries NM',
 'Allegheny Portage Railroad NHS',
 'Amistad NRA',
 'Andersonville NHS',
 'Andrew Johnson NHS',
 'Antietam NB',
 'Apostle Islands NL',
 'Appomattox Court House NHP',
 'Arches NP',
 'Arkansas Post NMEM',
 'Arlington House The R.E. Lee MEM',
 'Assateague Island NS',
 'Aztec Ruins NM',
 'Badlands NP',
 'Bandelier NM',
 "Bent's Old Fort NHS",
 'Bering Land Bridge NPRES',
 'Big Bend NP',
 'Big Cypress NPRES',
 'Big Hole NB',
 'Big South Fork NRRA',
 'Big Thicket NPRES',
 'Bighorn Canyon NRA',
 'Biscayne NP',
 'Black Canyon of the Gunnison NP',
 'Blue Ridge PKWY',
 'Booker T. Washington NM',
 'Boston African American NHS',
 'Boston NHP',
 'Brown v. Board of Education NHP',
 'Bryce Canyon NP',
 'Buck Island Reef NM',
 'Buffalo NR',
 'Cabrillo NM',
 'Camp Nelson NM',
 'Canaveral NS',
 'Cane River Creole NHP',
 'Canyon de Chelly NM',
 'Canyonlands NP',
 'Cape Cod NS',
 'Cape Hatteras NS',
 'Cape Krusenstern NM',
 'Cape Lookout NS',
 'Capitol Reef NP',
 'Capulin Volcano NM',
 'Carl Sandburg Home NHS',
 'Carlsbad Caverns NP',
 'Casa Grande Ruins NM',
 'Castillo de San Marcos NM',
 'Castle Clinton NM',
 'Catoctin Mountain Park',
 'Cedar Breaks NM',
 'Cesar E. Chavez NM',
 'Chaco Culture NHP',
 'Chamizal NMEM',
 'Channel Islands NP',
 'Charles Pinckney NHS',
 'Charles Young Buffalo Soldiers NM',
 'Chattahoochee River NRA',
 'Chesapeake & Ohio Canal NHP',
 'Chickamauga & Chattanooga NMP',
 'Chickasaw NRA',
 'Chiricahua NM',
 'Christiansted NHS',
 'City of Rocks NRES',
 'Colonial NHP',
 'Colorado NM',
 'Congaree NP',
 'Coronado NMEM',
 'Cowpens NB',
 'Crater Lake NP',
 'Craters of the Moon NM & PRES',
 'Cumberland Gap NHP',
 'Cumberland Island NS',
 'Curecanti NRA',
 'Cuyahoga Valley NP',
 'Dayton Aviation Heritage NHP',
 'De Soto NMEM',
 'Death Valley NP',
 'Delaware Water Gap NRA',
 'Denali NP & PRES',
 'Devils Tower NM',
 'Dinosaur NM',
 'Dry Tortugas NP',
 'Dwight D. Eisenhower MEM',
 'Effigy Mounds NM',
 'Eisenhower NHS',
 'El Malpais NM',
 'El Morro NM',
 'Eleanor Roosevelt NHS',
 "Eugene O'Neill NHS",
 'Everglades NP',
 'Federal Hall NMEM',
 'Fire Island NS',
 'First Ladies NHS',
 'Flight 93 NMEM',
 'Florissant Fossil Beds NM',
 "Ford's Theatre NHS",
 'Fort Bowie NHS',
 'Fort Caroline NMEM',
 'Fort Davis NHS',
 'Fort Donelson NB',
 'Fort Frederica NM',
 'Fort Laramie NHS',
 'Fort Larned NHS',
 'Fort Matanzas NM',
 'Fort McHenry NM & HS',
 'Fort Necessity NB',
 'Fort Point NHS',
 'Fort Pulaski NM',
 'Fort Raleigh NHS',
 'Fort Scott NHS',
 'Fort Smith NHS',
 'Fort Stanwix NM',
 'Fort Sumter and Fort Moultrie NHP',
 'Fort Union NM',
 'Fort Union Trading Post NHS',
 'Fort Vancouver NHS',
 'Fort Washington Park',
 'Fossil Butte NM',
 'Franklin Delano Roosevelt MEM',
 'Frederick Douglass NHS',
 'Frederick Law Olmsted NHS',
 'Fredericksburg & Spotsylvania NMP',
 'Friendship Hill NHS',
 'Gateway Arch NP',
 'Gateway NRA',
 'Gauley River NRA',
 'General Grant NMEM',
 'George Rogers Clark NHP',
 'George Washington Birthplace NM',
 'George Washington Carver NM',
 'George Washington MEM PKWY',
 'Gettysburg NMP',
 'Gila Cliff Dwellings NM',
 'Glacier Bay NP & PRES',
 'Glacier NP',
 'Glen Canyon NRA',
 'Golden Gate NRA',
 'Golden Spike NHP',
 'Grand Canyon NP',
 'Grand Portage NM',
 'Grand Teton NP',
 'Grant-Kohrs Ranch NHS',
 'Great Basin NP',
 'Great Sand Dunes NP & PRES',
 'Great Smoky Mountains NP',
 'Greenbelt Park',
 'Guadalupe Mountains NP',
 'Guilford Courthouse NMP',
 'Gulf Islands NS',
 'Hagerman Fossil Beds NM',
 'Haleakala NP',
 'Hamilton Grange NMEM',
 'Hampton NHS',
 'Harpers Ferry NHP',
 'Harry S Truman NHS',
 'Hawaii Volcanoes NP',
 'Herbert Hoover NHS',
 'Home of Franklin D. Roosevelt NHS',
 'Homestead NHP',
 'Hopewell Culture NHP',
 'Hopewell Furnace NHS',
 'Horseshoe Bend NMP',
 'Hot Springs NP',
 'Hovenweep NM',
 'Hubbell Trading Post NHS',
 'Independence NHP',
 'Indiana Dunes NP',
 'James A. Garfield NHS',
 'Jean Lafitte NHP & PRES',
 'Jewel Cave NM',
 'Jimmy Carter NHP',
 'John D. Rockefeller, Jr. MEM PKWY',
 'John Day Fossil Beds NM',
 'John Muir NHS',
 'Johnstown Flood NMEM',
 'Joshua Tree NP',
 'Kalaupapa NHP',
 'Kaloko Honokohau NHP',
 'Katahdin Woods and Waters NM',
 'Katmai NP & PRES',
 'Kenai Fjords NP',
 'Kennesaw Mountain NBP',
 'Keweenaw NHP',
 'Kings Canyon NP',
 'Kings Mountain NMP',
 'Klondike Gold Rush NHP Alaska',
 'Klondike Gold Rush NHP Seattle',
 'Knife River Indian Villages NHS',
 'Kobuk Valley NP',
 'Korean War Veterans Memorial',
 'Lake Chelan NRA',
 'Lake Mead NRA',
 'Lake Meredith NRA',
 'Lake Roosevelt NRA',
 'Lassen Volcanic NP',
 'Lava Beds NM',
 'LBJ Memorial Grove on the Potomac',
 'Lewis & Clark NHP',
 'Lincoln Boyhood NMEM',
 'Lincoln Home NHS',
 'Lincoln Memorial',
 'Little Bighorn Battlefield NM',
 'Little River Canyon NPRES',
 'Little Rock Central High School NHS',
 "Longfellow House Washington's HQ NHS",
 'Lowell NHP',
 'Lyndon B. Johnson NHP',
 'Maggie L. Walker NHS',
 'Mammoth Cave NP',
 'Manassas NBP',
 'Manhattan Project NHP',
 'Manzanar NHS',
 'Marsh-Billings-Rockefeller NHP',
 'Martin Luther King, Jr. Memorial',
 'Martin Luther King, Jr. NHP',
 'Martin Van Buren NHS',
 'Medgar and Myrlie Evers Home NM',
 'Mesa Verde NP',
 'Minidoka NHS',
 'Minute Man NHP',
 'Minuteman Missile NHS',
 'Mississippi NRRA',
 'Missouri NRR',
 'Mojave NPRES',
 'Monocacy NB',
 'Montezuma Castle NM',
 'Moores Creek NB',
 'Morristown NHP',
 'Mount Rainier NP',
 'Mount Rushmore NMEM',
 'Muir Woods NM',
 'Natchez NHP',
 'Natchez Trace PKWY',
 'National Capital Parks Central',
 'National Capital Parks East',
 'National Park of American Samoa',
 'Natural Bridges NM',
 'Navajo NM',
 'New Bedford Whaling NHP',
 'New Orleans Jazz NHP',
 'New River Gorge NP & PRES',
 'Nez Perce NHP',
 'Nicodemus NHS',
 'Ninety Six NHS',
 'Niobrara NSR',
 'Noatak NPRES',
 'North Cascades NP',
 'Obed W&SR',
 'Ocmulgee Mounds NHP',
 'Olympic NP',
 'Oregon Caves NM & PRES',
 'Organ Pipe Cactus NM',
 'Ozark NSR',
 'Padre Island NS',
 'Palo Alto Battlefield NHP',
 'Paterson Great Falls NHP',
 'Pea Ridge NMP',
 'Pearl Harbor NMEM',
 'Pecos NHP',
 "Perry's Victory & Intl. Peace MEM",
 'Petersburg NB',
 'Petrified Forest NP',
 'Petroglyph NM',
 'Pictured Rocks NL',
 'Pinnacles NP',
 'Pipe Spring NM',
 'Pipestone NM',
 'Piscataway Park',
 'Point Reyes NS',
 'Port Chicago Naval Magazine NMEM',
 'President W.J. Clinton Birthplace Home NHS',
 "President's Park",
 'Prince William Forest Park',
 "Pu'uhonua o Honaunau NHP",
 "Pu'ukohola Heiau NHS",
 'Rainbow Bridge NM',
 'Reconstruction Era NHP',
 'Redwood NP',
 'Richmond NBP',
 'Rio Grande W&SR',
 'River Raisin NBP',
 'Rock Creek Park',
 'Rocky Mountain NP',
 'Roger Williams NMEM',
 'Rosie The Riveter WWII Home Front NHP',
 'Ross Lake NRA',
 'Russell Cave NM',
 'Sagamore Hill NHS',
 'Saguaro NP',
 'Saint Croix NSR',
 "Saint Paul's Church NHS",
 'Saint-Gaudens NHP',
 'Salem Maritime NHS',
 'Salinas Pueblo Missions NM',
 'Salt River Bay NHP & Ecological Pres',
 'San Antonio Missions NHP',
 'San Francisco Maritime NHP',
 'San Juan Island NHP',
 'San Juan NHS',
 'Sand Creek Massacre NHS',
 'Santa Monica Mountains NRA',
 'Saratoga NHP',
 'Saugus Iron Works NHS',
 'Scotts Bluff NM',
 'Sequoia NP',
 'Shenandoah NP',
 'Shiloh NMP',
 'Sitka NHP',
 'Sleeping Bear Dunes NL',
 'Springfield Armory NHS',
 'Statue of Liberty NM',
 'Steamtown NHS',
 'Stones River NB',
 'Sunset Crater Volcano NM',
 'Tallgrass Prairie NPRES',
 'Theodore Roosevelt Birthplace NHS',
 'Theodore Roosevelt Inaugural NHS',
 'Theodore Roosevelt Island',
 'Theodore Roosevelt NP',
 'Thomas Edison NHP',
 'Thomas Jefferson MEM',
 'Thomas Stone NHS',
 'Timpanogos Cave NM',
 'Timucuan EHP',
 'Tonto NM',
 'Tule Springs Fossil Beds NM',
 'Tumacacori NHP',
 'Tuskegee Airmen NHS',
 'Tuskegee Institute NHS',
 'Tuzigoot NM',
 'Ulysses S. Grant NHS',
 'Upper Delaware S&RR',
 'Valles Caldera NPRES',
 'Valley Forge NHP',
 'Vanderbilt Mansion NHS',
 'Vicksburg NMP',
 'Vietnam Veterans MEM',
 'Virgin Islands NP',
 'Voyageurs NP',
 'Waco Mammoth NM',
 'Walnut Canyon NM',
 'War in the Pacific NHP',
 'Washington Monument',
 'Washita Battlefield NHS',
 'Weir Farm NHP',
 'Whiskeytown NRA',
 'White House',
 'White Sands NP',
 'Whitman Mission NHS',
 'William Howard Taft NHS',
 "Wilson's Creek NB",
 'Wind Cave NP',
 'Wolf Trap NP for the Performing Arts',
 "Women's Rights NHP",
 'World War I Memorial',
 'World War II Memorial',
 'Wrangell-St. Elias NP & PRES',
 'Wright Brothers NMEM',
 'Wupatki NM',
 'Yellowstone NP',
 'Yosemite NP',
 'Yukon-Charley Rivers NPRES',
 'Zion NP']

In [8]:
#Use regex to get all the initials (NM, NP, etc.)

#Create an empty array for the initials
initials_list = []

pattern = '\s([A-Z\s&]+)$'

for item in park_names:
    matches = re.findall(pattern, item)
    if matches:
        initials_list.append(matches[-1])

print(initials_list)

['NHP', 'NP', 'NHP', 'NM', 'NM', 'NM', 'NHS', 'NRA', 'NHS', 'NHS', 'NB', 'NL', 'NHP', 'NP', 'NMEM', 'MEM', 'NS', 'NM', 'NP', 'NM', 'NHS', 'NPRES', 'NP', 'NPRES', 'NB', 'NRRA', 'NPRES', 'NRA', 'NP', 'NP', 'PKWY', 'NM', 'NHS', 'NHP', 'NHP', 'NP', 'NM', 'NR', 'NM', 'NM', 'NS', 'NHP', 'NM', 'NP', 'NS', 'NS', 'NM', 'NS', 'NP', 'NM', 'NHS', 'NP', 'NM', 'NM', 'NM', 'NM', 'NM', 'NHP', 'NMEM', 'NP', 'NHS', 'NM', 'NRA', 'NHP', 'NMP', 'NRA', 'NM', 'NHS', 'NRES', 'NHP', 'NM', 'NP', 'NMEM', 'NB', 'NP', 'NM & PRES', 'NHP', 'NS', 'NRA', 'NP', 'NHP', 'NMEM', 'NP', 'NRA', 'NP & PRES', 'NM', 'NM', 'NP', 'MEM', 'NM', 'NHS', 'NM', 'NM', 'NHS', 'NHS', 'NP', 'NMEM', 'NS', 'NHS', 'NMEM', 'NM', 'NHS', 'NHS', 'NMEM', 'NHS', 'NB', 'NM', 'NHS', 'NHS', 'NM', 'NM & HS', 'NB', 'NHS', 'NM', 'NHS', 'NHS', 'NHS', 'NM', 'NHP', 'NM', 'NHS', 'NHS', 'NM', 'MEM', 'NHS', 'NHS', 'NMP', 'NHS', 'NP', 'NRA', 'NRA', 'NMEM', 'NHP', 'NM', 'NM', 'MEM PKWY', 'NMP', 'NM', 'NP & PRES', 'NP', 'NRA', 'NRA', 'NHP', 'NP', 'NM', 'NP', 'NHS', 'NP', 'NP & PRES', 'NP', 'NP', 'NMP', 'NS', 'NM', 'NP', 'NMEM', 'NHS', 'NHP', 'NHS', 'NP', 'NHS', 'NHS', 'NHP', 'NHP', 'NHS', 'NMP', 'NP', 'NM', 'NHS', 'NHP', 'NP', 'NHS', 'NHP & PRES', 'NM', 'NHP', 'MEM PKWY', 'NM', 'NHS', 'NMEM', 'NP', 'NHP', 'NHP', 'NM', 'NP & PRES', 'NP', 'NBP', 'NHP', 'NP', 'NMP', 'NHS', 'NP', 'NRA', 'NRA', 'NRA', 'NRA', 'NP', 'NM', 'NHP', 'NMEM', 'NHS', 'NM', 'NPRES', 'NHS', 'HQ NHS', 'NHP', 'NHP', 'NHS', 'NP', 'NBP', 'NHP', 'NHS', 'NHP', 'NHP', 'NHS', 'NM', 'NP', 'NHS', 'NHP', 'NHS', 'NRRA', 'NRR', 'NPRES', 'NB', 'NM', 'NB', 'NHP', 'NP', 'NMEM', 'NM', 'NHP', 'PKWY', 'NM', 'NM', 'NHP', 'NHP', 'NP & PRES', 'NHP', 'NHS', 'NHS', 'NSR', 'NPRES', 'NP', 'W&SR', 'NHP', 'NP', 'NM & PRES', 'NM', 'NSR', 'NS', 'NHP', 'NHP', 'NMP', 'NMEM', 'NHP', 'MEM', 'NB', 'NP', 'NM', 'NL', 'NP', 'NM', 'NM', 'NS', 'NMEM', 'NHS', 'NHP', 'NHS', 'NM', 'NHP', 'NP', 'NBP', 'W&SR', 'NBP', 'NP', 'NMEM', 'NHP', 'NRA', 'NM', 'NHS', 'NP', 'NSR', 'NHS', 'NHP', 'NHS', 'NM', 'NHP', 'NHP', 'NHP', 'NHS', 'NHS', 'NRA', 'NHP', 'NHS', 'NM', 'NP', 'NP', 'NMP', 'NHP', 'NL', 'NHS', 'NM', 'NHS', 'NB', 'NM', 'NPRES', 'NHS', 'NHS', 'NP', 'NHP', 'MEM', 'NHS', 'NM', 'EHP', 'NM', 'NM', 'NHP', 'NHS', 'NHS', 'NM', 'NHS', 'S&RR', 'NPRES', 'NHP', 'NHS', 'NMP', 'MEM', 'NP', 'NP', 'NM', 'NM', 'NHP', 'NHS', 'NHP', 'NRA', 'NP', 'NHS', 'NHS', 'NB', 'NP', 'NHP', 'NP & PRES', 'NMEM', 'NM', 'NP', 'NP', 'NPRES', 'NP']

In [9]:
#Create a list of unique park initials
unique_initials_list = []

for item in initials_list:
    if item not in unique_initials_list:
        unique_initials_list.append(item)

unique_initials_list

['NHP',
 'NP',
 'NM',
 'NHS',
 'NRA',
 'NB',
 'NL',
 'NMEM',
 'MEM',
 'NS',
 'NPRES',
 'NRRA',
 'PKWY',
 'NR',
 'NMP',
 'NRES',
 'NM & PRES',
 'NP & PRES',
 'NM & HS',
 'MEM PKWY',
 'NHP & PRES',
 'NBP',
 'HQ NHS',
 'NRR',
 'NSR',
 'W&SR',
 'EHP',
 'S&RR']

In [10]:
unique_initials_list

['NHP',
 'NP',
 'NM',
 'NHS',
 'NRA',
 'NB',
 'NL',
 'NMEM',
 'MEM',
 'NS',
 'NPRES',
 'NRRA',
 'PKWY',
 'NR',
 'NMP',
 'NRES',
 'NM & PRES',
 'NP & PRES',
 'NM & HS',
 'MEM PKWY',
 'NHP & PRES',
 'NBP',
 'HQ NHS',
 'NRR',
 'NSR',
 'W&SR',
 'EHP',
 'S&RR']

In [11]:
#Manually create the dictionary that matches each initial to a name
initial_names_dict = {
    'NHP & Ecological Pres' : "National Historical Park and Ecological Preserve",
    'HQ NHS' : 'Headquarters National Historic Site',
    'NM & PRES': 'National Monument & Preserve',
    'NP & PRES': 'National Park & Preserve',
    'NM & HS': 'National Monument and Historic Shrine',
    'MEM PKWY': 'Memorial Parkway',
    'NHP & PRES' : 'National Park & Preserve',
    'NPRES': 'National Preserve',
    'NMEM': 'National Memorial',
    'NRRA': 'National River',
    'PKWY': 'National Parkway',
    'NRES': 'National Reserve',
    'W&SR': 'Wild & Scenic River',
    'S&RR': 'Scenic & Recreational River',
    'NHP': 'National Historical Park',
    'NMP': 'National Military Park',
    'NHS': 'National Historic Site', 
    'NRA': 'National Recreation Area',
    'MEM':'Memorial',
    'NBP': 'National Battlefield Park',
    'NRR': 'National Recreational River',
    'NSR' : 'National Scenic River',
    'EHP': 'Ecological & Historic Preserve',
    'NM': 'National Monument',
    'NB': 'National Battlefield',
    'NL': 'National Lakeshore',
    'NP': 'National Park',
    'NS': 'National Seashore',
    'NR': 'National River',
    'HS': 'Historic Shrine',
    'PRES': 'Preserve'
}

In [12]:
len(unique_initials_list)

28

In [13]:
#Go through the park names and replace each initial with its corresponding name using regex
for i in range(len(park_names)):
        for initial, full_name in initial_names_dict.items():
            pattern = r'\b' + re.escape(initial) + r'(?=\s|&|$)'
            park_names[i] = re.sub(pattern, full_name, park_names[i])

park_names

['Abraham Lincoln Birthplace National Historical Park',
 'Acadia National Park',
 'Adams National Historical Park',
 'African Burial Ground National Monument',
 'Agate Fossil Beds National Monument',
 'Alibates Flint Quarries National Monument',
 'Allegheny Portage Railroad National Historic Site',
 'Amistad National Recreation Area',
 'Andersonville National Historic Site',
 'Andrew Johnson National Historic Site',
 'Antietam National Battlefield',
 'Apostle Islands National Lakeshore',
 'Appomattox Court House National Historical Park',
 'Arches National Park',
 'Arkansas Post National Memorial',
 'Arlington House The R.E. Lee Memorial',
 'Assateague Island National Seashore',
 'Aztec Ruins National Monument',
 'Badlands National Park',
 'Bandelier National Monument',
 "Bent's Old Fort National Historic Site",
 'Bering Land Bridge National Preserve',
 'Big Bend National Park',
 'Big Cypress National Preserve',
 'Big Hole National Battlefield',
 'Big South Fork National River',
 'Big Thicket National Preserve',
 'Bighorn Canyon National Recreation Area',
 'Biscayne National Park',
 'Black Canyon of the Gunnison National Park',
 'Blue Ridge National Parkway',
 'Booker T. Washington National Monument',
 'Boston African American National Historic Site',
 'Boston National Historical Park',
 'Brown v. Board of Education National Historical Park',
 'Bryce Canyon National Park',
 'Buck Island Reef National Monument',
 'Buffalo National River',
 'Cabrillo National Monument',
 'Camp Nelson National Monument',
 'Canaveral National Seashore',
 'Cane River Creole National Historical Park',
 'Canyon de Chelly National Monument',
 'Canyonlands National Park',
 'Cape Cod National Seashore',
 'Cape Hatteras National Seashore',
 'Cape Krusenstern National Monument',
 'Cape Lookout National Seashore',
 'Capitol Reef National Park',
 'Capulin Volcano National Monument',
 'Carl Sandburg Home National Historic Site',
 'Carlsbad Caverns National Park',
 'Casa Grande Ruins National Monument',
 'Castillo de San Marcos National Monument',
 'Castle Clinton National Monument',
 'Catoctin Mountain Park',
 'Cedar Breaks National Monument',
 'Cesar E. Chavez National Monument',
 'Chaco Culture National Historical Park',
 'Chamizal National Memorial',
 'Channel Islands National Park',
 'Charles Pinckney National Historic Site',
 'Charles Young Buffalo Soldiers National Monument',
 'Chattahoochee River National Recreation Area',
 'Chesapeake & Ohio Canal National Historical Park',
 'Chickamauga & Chattanooga National Military Park',
 'Chickasaw National Recreation Area',
 'Chiricahua National Monument',
 'Christiansted National Historic Site',
 'City of Rocks National Reserve',
 'Colonial National Historical Park',
 'Colorado National Monument',
 'Congaree National Park',
 'Coronado National Memorial',
 'Cowpens National Battlefield',
 'Crater Lake National Park',
 'Craters of the Moon National Monument & Preserve',
 'Cumberland Gap National Historical Park',
 'Cumberland Island National Seashore',
 'Curecanti National Recreation Area',
 'Cuyahoga Valley National Park',
 'Dayton Aviation Heritage National Historical Park',
 'De Soto National Memorial',
 'Death Valley National Park',
 'Delaware Water Gap National Recreation Area',
 'Denali National Park & Preserve',
 'Devils Tower National Monument',
 'Dinosaur National Monument',
 'Dry Tortugas National Park',
 'Dwight D. Eisenhower Memorial',
 'Effigy Mounds National Monument',
 'Eisenhower National Historic Site',
 'El Malpais National Monument',
 'El Morro National Monument',
 'Eleanor Roosevelt National Historic Site',
 "Eugene O'Neill National Historic Site",
 'Everglades National Park',
 'Federal Hall National Memorial',
 'Fire Island National Seashore',
 'First Ladies National Historic Site',
 'Flight 93 National Memorial',
 'Florissant Fossil Beds National Monument',
 "Ford's Theatre National Historic Site",
 'Fort Bowie National Historic Site',
 'Fort Caroline National Memorial',
 'Fort Davis National Historic Site',
 'Fort Donelson National Battlefield',
 'Fort Frederica National Monument',
 'Fort Laramie National Historic Site',
 'Fort Larned National Historic Site',
 'Fort Matanzas National Monument',
 'Fort McHenry National Monument and Historic Shrine',
 'Fort Necessity National Battlefield',
 'Fort Point National Historic Site',
 'Fort Pulaski National Monument',
 'Fort Raleigh National Historic Site',
 'Fort Scott National Historic Site',
 'Fort Smith National Historic Site',
 'Fort Stanwix National Monument',
 'Fort Sumter and Fort Moultrie National Historical Park',
 'Fort Union National Monument',
 'Fort Union Trading Post National Historic Site',
 'Fort Vancouver National Historic Site',
 'Fort Washington Park',
 'Fossil Butte National Monument',
 'Franklin Delano Roosevelt Memorial',
 'Frederick Douglass National Historic Site',
 'Frederick Law Olmsted National Historic Site',
 'Fredericksburg & Spotsylvania National Military Park',
 'Friendship Hill National Historic Site',
 'Gateway Arch National Park',
 'Gateway National Recreation Area',
 'Gauley River National Recreation Area',
 'General Grant National Memorial',
 'George Rogers Clark National Historical Park',
 'George Washington Birthplace National Monument',
 'George Washington Carver National Monument',
 'George Washington Memorial Parkway',
 'Gettysburg National Military Park',
 'Gila Cliff Dwellings National Monument',
 'Glacier Bay National Park & Preserve',
 'Glacier National Park',
 'Glen Canyon National Recreation Area',
 'Golden Gate National Recreation Area',
 'Golden Spike National Historical Park',
 'Grand Canyon National Park',
 'Grand Portage National Monument',
 'Grand Teton National Park',
 'Grant-Kohrs Ranch National Historic Site',
 'Great Basin National Park',
 'Great Sand Dunes National Park & Preserve',
 'Great Smoky Mountains National Park',
 'Greenbelt Park',
 'Guadalupe Mountains National Park',
 'Guilford Courthouse National Military Park',
 'Gulf Islands National Seashore',
 'Hagerman Fossil Beds National Monument',
 'Haleakala National Park',
 'Hamilton Grange National Memorial',
 'Hampton National Historic Site',
 'Harpers Ferry National Historical Park',
 'Harry S Truman National Historic Site',
 'Hawaii Volcanoes National Park',
 'Herbert Hoover National Historic Site',
 'Home of Franklin D. Roosevelt National Historic Site',
 'Homestead National Historical Park',
 'Hopewell Culture National Historical Park',
 'Hopewell Furnace National Historic Site',
 'Horseshoe Bend National Military Park',
 'Hot Springs National Park',
 'Hovenweep National Monument',
 'Hubbell Trading Post National Historic Site',
 'Independence National Historical Park',
 'Indiana Dunes National Park',
 'James A. Garfield National Historic Site',
 'Jean Lafitte National Park & Preserve',
 'Jewel Cave National Monument',
 'Jimmy Carter National Historical Park',
 'John D. Rockefeller, Jr. Memorial Parkway',
 'John Day Fossil Beds National Monument',
 'John Muir National Historic Site',
 'Johnstown Flood National Memorial',
 'Joshua Tree National Park',
 'Kalaupapa National Historical Park',
 'Kaloko Honokohau National Historical Park',
 'Katahdin Woods and Waters National Monument',
 'Katmai National Park & Preserve',
 'Kenai Fjords National Park',
 'Kennesaw Mountain National Battlefield Park',
 'Keweenaw National Historical Park',
 'Kings Canyon National Park',
 'Kings Mountain National Military Park',
 'Klondike Gold Rush National Historical Park Alaska',
 'Klondike Gold Rush National Historical Park Seattle',
 'Knife River Indian Villages National Historic Site',
 'Kobuk Valley National Park',
 'Korean War Veterans Memorial',
 'Lake Chelan National Recreation Area',
 'Lake Mead National Recreation Area',
 'Lake Meredith National Recreation Area',
 'Lake Roosevelt National Recreation Area',
 'Lassen Volcanic National Park',
 'Lava Beds National Monument',
 'LBJ Memorial Grove on the Potomac',
 'Lewis & Clark National Historical Park',
 'Lincoln Boyhood National Memorial',
 'Lincoln Home National Historic Site',
 'Lincoln Memorial',
 'Little Bighorn Battlefield National Monument',
 'Little River Canyon National Preserve',
 'Little Rock Central High School National Historic Site',
 "Longfellow House Washington's Headquarters National Historic Site",
 'Lowell National Historical Park',
 'Lyndon B. Johnson National Historical Park',
 'Maggie L. Walker National Historic Site',
 'Mammoth Cave National Park',
 'Manassas National Battlefield Park',
 'Manhattan Project National Historical Park',
 'Manzanar National Historic Site',
 'Marsh-Billings-Rockefeller National Historical Park',
 'Martin Luther King, Jr. Memorial',
 'Martin Luther King, Jr. National Historical Park',
 'Martin Van Buren National Historic Site',
 'Medgar and Myrlie Evers Home National Monument',
 'Mesa Verde National Park',
 'Minidoka National Historic Site',
 'Minute Man National Historical Park',
 'Minuteman Missile National Historic Site',
 'Mississippi National River',
 'Missouri National Recreational River',
 'Mojave National Preserve',
 'Monocacy National Battlefield',
 'Montezuma Castle National Monument',
 'Moores Creek National Battlefield',
 'Morristown National Historical Park',
 'Mount Rainier National Park',
 'Mount Rushmore National Memorial',
 'Muir Woods National Monument',
 'Natchez National Historical Park',
 'Natchez Trace National Parkway',
 'National Capital Parks Central',
 'National Capital Parks East',
 'National Park of American Samoa',
 'Natural Bridges National Monument',
 'Navajo National Monument',
 'New Bedford Whaling National Historical Park',
 'New Orleans Jazz National Historical Park',
 'New River Gorge National Park & Preserve',
 'Nez Perce National Historical Park',
 'Nicodemus National Historic Site',
 'Ninety Six National Historic Site',
 'Niobrara National Scenic River',
 'Noatak National Preserve',
 'North Cascades National Park',
 'Obed Wild & Scenic River',
 'Ocmulgee Mounds National Historical Park',
 'Olympic National Park',
 'Oregon Caves National Monument & Preserve',
 'Organ Pipe Cactus National Monument',
 'Ozark National Scenic River',
 'Padre Island National Seashore',
 'Palo Alto Battlefield National Historical Park',
 'Paterson Great Falls National Historical Park',
 'Pea Ridge National Military Park',
 'Pearl Harbor National Memorial',
 'Pecos National Historical Park',
 "Perry's Victory & Intl. Peace Memorial",
 'Petersburg National Battlefield',
 'Petrified Forest National Park',
 'Petroglyph National Monument',
 'Pictured Rocks National Lakeshore',
 'Pinnacles National Park',
 'Pipe Spring National Monument',
 'Pipestone National Monument',
 'Piscataway Park',
 'Point Reyes National Seashore',
 'Port Chicago Naval Magazine National Memorial',
 'President W.J. Clinton Birthplace Home National Historic Site',
 "President's Park",
 'Prince William Forest Park',
 "Pu'uhonua o Honaunau National Historical Park",
 "Pu'ukohola Heiau National Historic Site",
 'Rainbow Bridge National Monument',
 'Reconstruction Era National Historical Park',
 'Redwood National Park',
 'Richmond National Battlefield Park',
 'Rio Grande Wild & Scenic River',
 'River Raisin National Battlefield Park',
 'Rock Creek Park',
 'Rocky Mountain National Park',
 'Roger Williams National Memorial',
 'Rosie The Riveter WWII Home Front National Historical Park',
 'Ross Lake National Recreation Area',
 'Russell Cave National Monument',
 'Sagamore Hill National Historic Site',
 'Saguaro National Park',
 'Saint Croix National Scenic River',
 "Saint Paul's Church National Historic Site",
 'Saint-Gaudens National Historical Park',
 'Salem Maritime National Historic Site',
 'Salinas Pueblo Missions National Monument',
 'Salt River Bay National Historical Park and Ecological Preserve',
 'San Antonio Missions National Historical Park',
 'San Francisco Maritime National Historical Park',
 'San Juan Island National Historical Park',
 'San Juan National Historic Site',
 'Sand Creek Massacre National Historic Site',
 'Santa Monica Mountains National Recreation Area',
 'Saratoga National Historical Park',
 'Saugus Iron Works National Historic Site',
 'Scotts Bluff National Monument',
 'Sequoia National Park',
 'Shenandoah National Park',
 'Shiloh National Military Park',
 'Sitka National Historical Park',
 'Sleeping Bear Dunes National Lakeshore',
 'Springfield Armory National Historic Site',
 'Statue of Liberty National Monument',
 'Steamtown National Historic Site',
 'Stones River National Battlefield',
 'Sunset Crater Volcano National Monument',
 'Tallgrass Prairie National Preserve',
 'Theodore Roosevelt Birthplace National Historic Site',
 'Theodore Roosevelt Inaugural National Historic Site',
 'Theodore Roosevelt Island',
 'Theodore Roosevelt National Park',
 'Thomas Edison National Historical Park',
 'Thomas Jefferson Memorial',
 'Thomas Stone National Historic Site',
 'Timpanogos Cave National Monument',
 'Timucuan Ecological & Historic Preserve',
 'Tonto National Monument',
 'Tule Springs Fossil Beds National Monument',
 'Tumacacori National Historical Park',
 'Tuskegee Airmen National Historic Site',
 'Tuskegee Institute National Historic Site',
 'Tuzigoot National Monument',
 'Ulysses S. Grant National Historic Site',
 'Upper Delaware Scenic & Recreational River',
 'Valles Caldera National Preserve',
 'Valley Forge National Historical Park',
 'Vanderbilt Mansion National Historic Site',
 'Vicksburg National Military Park',
 'Vietnam Veterans Memorial',
 'Virgin Islands National Park',
 'Voyageurs National Park',
 'Waco Mammoth National Monument',
 'Walnut Canyon National Monument',
 'War in the Pacific National Historical Park',
 'Washington Monument',
 'Washita Battlefield National Historic Site',
 'Weir Farm National Historical Park',
 'Whiskeytown National Recreation Area',
 'White House',
 'White Sands National Park',
 'Whitman Mission National Historic Site',
 'William Howard Taft National Historic Site',
 "Wilson's Creek National Battlefield",
 'Wind Cave National Park',
 'Wolf Trap National Park for the Performing Arts',
 "Women's Rights National Historical Park",
 'World War I Memorial',
 'World War II Memorial',
 'Wrangell-St. Elias National Park & Preserve',
 'Wright Brothers National Memorial',
 'Wupatki National Monument',
 'Yellowstone National Park',
 'Yosemite National Park',
 'Yukon-Charley Rivers National Preserve',
 'Zion National Park']

In [14]:
#Create a column with the full name
monthly_visitors_2022_df.insert(1, "Full Park Name", park_names)
monthly_visitors_2022_df

,Park,Full Park Name,Jan-22,Feb-22,Mar-22,Apr-22,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,totalVisitors2022
0,Abraham Lincoln Birthplace NHP,Abraham Lincoln Birthplace National Historical...,5833,10174,16447,25848,30360,36056,36369,32346,31130,21857,12503,6784,265707
1,Acadia NP,Acadia National Park,10411,13045,22476,105126,327466,603023,791358,785236,697292,521646,70675,22506,3970260
2,Adams NHP,Adams National Historical Park,84,125,204,262,1343,2109,2041,1876,1811,2207,425,361,12848
3,African Burial Ground NM,African Burial Ground National Monument,458,1163,1667,2625,2213,3253,3073,2530,3134,3173,3871,2583,29743
4,Agate Fossil Beds NM,Agate Fossil Beds National Monument,113,117,400,764,2123,3332,3236,2320,2501,1172,224,55,16357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Wupatki NM,Wupatki National Monument,7573,8509,26971,17672,12387,20857,22142,21129,23900,16522,9786,7000,194448
366,Yellowstone NP,Yellowstone National Park,46615,47300,35593,80283,523680,525363,596562,582211,567587,236567,17687,30794,3290242
367,Yosemite NP,Yosemite National Park,137057,170196,192634,285601,380905,470045,396833,518407,424374,381612,178786,131100,3667550
368,Yukon-Charley Rivers NPRES,Yukon-Charley Rivers National Preserve,2,0,0,0,9,267,286,165,15,0,0,0,744
369,Zion NP,Zion National Park,139827,168499,446308,491625,539172,569975,548636,437134,423654,459697,291044,176846,4692417

In [15]:
#Drop the original park axis
monthly_visitors_2022_df = monthly_visitors_2022_df.drop("Park", axis =1)
monthly_visitors_2022_df

,Full Park Name,Jan-22,Feb-22,Mar-22,Apr-22,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,totalVisitors2022
0,Abraham Lincoln Birthplace National Historical...,5833,10174,16447,25848,30360,36056,36369,32346,31130,21857,12503,6784,265707
1,Acadia National Park,10411,13045,22476,105126,327466,603023,791358,785236,697292,521646,70675,22506,3970260
2,Adams National Historical Park,84,125,204,262,1343,2109,2041,1876,1811,2207,425,361,12848
3,African Burial Ground National Monument,458,1163,1667,2625,2213,3253,3073,2530,3134,3173,3871,2583,29743
4,Agate Fossil Beds National Monument,113,117,400,764,2123,3332,3236,2320,2501,1172,224,55,16357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Wupatki National Monument,7573,8509,26971,17672,12387,20857,22142,21129,23900,16522,9786,7000,194448
366,Yellowstone National Park,46615,47300,35593,80283,523680,525363,596562,582211,567587,236567,17687,30794,3290242
367,Yosemite National Park,137057,170196,192634,285601,380905,470045,396833,518407,424374,381612,178786,131100,3667550
368,Yukon-Charley Rivers National Preserve,2,0,0,0,9,267,286,165,15,0,0,0,744
369,Zion National Park,139827,168499,446308,491625,539172,569975,548636,437134,423654,459697,291044,176846,4692417

In [16]:
#Rename the new column "Park"
monthly_visitors_2022_df = monthly_visitors_2022_df.rename(columns = {"Full Park Name": "Park"})
monthly_visitors_2022_df

,Park,Jan-22,Feb-22,Mar-22,Apr-22,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,totalVisitors2022
0,Abraham Lincoln Birthplace National Historical...,5833,10174,16447,25848,30360,36056,36369,32346,31130,21857,12503,6784,265707
1,Acadia National Park,10411,13045,22476,105126,327466,603023,791358,785236,697292,521646,70675,22506,3970260
2,Adams National Historical Park,84,125,204,262,1343,2109,2041,1876,1811,2207,425,361,12848
3,African Burial Ground National Monument,458,1163,1667,2625,2213,3253,3073,2530,3134,3173,3871,2583,29743
4,Agate Fossil Beds National Monument,113,117,400,764,2123,3332,3236,2320,2501,1172,224,55,16357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Wupatki National Monument,7573,8509,26971,17672,12387,20857,22142,21129,23900,16522,9786,7000,194448
366,Yellowstone National Park,46615,47300,35593,80283,523680,525363,596562,582211,567587,236567,17687,30794,3290242
367,Yosemite National Park,137057,170196,192634,285601,380905,470045,396833,518407,424374,381612,178786,131100,3667550
368,Yukon-Charley Rivers National Preserve,2,0,0,0,9,267,286,165,15,0,0,0,744
369,Zion National Park,139827,168499,446308,491625,539172,569975,548636,437134,423654,459697,291044,176846,4692417

In [17]:
# Read in all the park information

park_info_df = pd.read_csv('../Output/park_info.csv')
park_info_df

,Name,Park ID,Park Code,Designation,Latitude,Longitude
0,Abraham Lincoln Birthplace National Historical...,77E0D7F0-1942-494A-ACE2-9004D2BDC59E,abli,National Historical Park,37.585866,-85.673305
1,Acadia National Park,6DA17C86-088E-4B4D-B862-7C1BD5CF236B,acad,National Park,44.409286,-68.247501
2,Adams National Historical Park,E4C7784E-66A0-4D44-87D0-3E072F5FEF43,adam,National Historical Park,42.255396,-71.011604
3,African American Civil War Memorial,1A47416F-DAA3-4137-9F30-14AF86B4E547,afam,NaN,38.916600,-77.026000
4,African Burial Ground National Monument,E6E1D22A-7A89-47F8-813C-B611059A8CF9,afbg,National Monument,40.714527,-74.004474
...,...,...,...,...,...,...
464,Yorktown Battlefield Part of Colonial National...,D09FF0F8-B16E-4D2B-9C37-03202D6B8176,york,Part of Colonial National Historical Park,37.219500,-76.498300
465,Yosemite National Park,4324B2B4-D1A3-497F-8E6B-27171FAE4DB2,yose,National Park,37.848833,-119.557187
466,Yucca House National Monument,9854D136-AFC0-4966-BB40-FE9323B56A49,yuho,National Monument,37.247789,-108.686127
467,Yukon - Charley Rivers National Preserve,6F550E4D-AE26-4250-A674-397E2DF88092,yuch,National Preserve,65.093561,-142.796002
468,Zion National Park,41BAB8ED-C95F-447D-9DA1-FCC4E4D808B2,zion,National Park,37.298393,-113.026514

In [18]:
#Rename columns for merging and for js inputting to map

park_info_df = park_info_df.rename(columns = {"Name": "Park",
                                              "Park Code": "parkCode",
                                              "Park ID": "parkID",
                                             "Entrance Fee": "entranceFee",
                                             "Entrance Fee Desc": "entranceFeeDesc"})
park_info_df

SyntaxError: invalid syntax (207435502.py, line 6)

In [ ]:
merged_df = monthly_visitors_2022_df.merge(park_info_df, on = "Park", how = "left")
merged_df

In [ ]:
merged_df = merged_df.dropna(subset=["Latitude"])
merged_df = merged_df.dropna(subset=["Longitude"])
merged_df

In [ ]:
#Save the dataframe as a csv for later analysis
merged_df.to_csv("../Output/park_info_with_2022_visitor_info.csv", encoding='utf8', index=False)

In [ ]:
#Convert the dataframe to a dictionary so it can be saved as a json file
merged_df_dict = merged_df.to_dict(orient = 'records')
print(merged_df_dict)

In [ ]:
with open("../Output/park_info_with_2022_visitor_info.json", "w") as outfile:
    json.dump(merged_df_dict, outfile)